@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.container {
  display: flex;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 4rem 0;
  
  

  background-color: #f0f9fd;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100vh;
  
  background-color: #272626;
}

.dataContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;
  
  
  width: 100%;
  height: 100vh;
  background-color: #f0f9fd;
}

.dataContainer::-webkit-scrollbar {
  display: none;
}

.dataContainerSpace{
  width: 100%;
  height: 60%;
}

.dataContainer ul{
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding:  0 ;
  width: 100%;
  height: 100%;
}



.userData {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 20px;
  padding-bottom: 10px;

  gap:40px;
  border-bottom: solid 1px #214957;

  width: 50vw;
  height: 120px;
  
}

.userdataRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.dataButtons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 30%;  
}

.avatar {
  width: 4.5em;
  border-radius: 50%;
}

.info {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;
}

.info span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: #9ab8c3;
  font-size: .8rem;
  
}
.info p {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0;
  color: #214957;
}
.userData button {
  display: flex;
  justify-content: center;
  align-items: center; 
  
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  outline: none;
  margin: 0;
  border-radius: 10px;
  color: #e6f8ff;
  background-color: #9ab8c3;
  
 
}

.icon {
  transform: scale(150%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  width: 100%;
}


.uploadLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 30px;
  border: solid 1px #e6f8ff;
  color: #9ab8c3;

  width: 60%;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  
  margin-bottom: 20px;
  
  
  
}
.uploadInput {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #b8b8b8;
  
}

.imagePath {
  color: #e6f8ff;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.imagePath span {
  font-weight: 600;
  color: #9ab8c3;
}

.formImage {
  width: 8rem;
  margin: 10px;
  
  
}

.label {
  color: #9ab8c3;
  font-family: 'Roboto', sans-serif;
}

.input {
  outline: none;
  border: none;
  width: 60%;
  
  border-radius: 30px;
  border-bottom: solid 1px #e6f8ff;
  background-color: #272626;
  padding-bottom: 5px;

  font-size: 1rem;
  text-align: center;
  color: #e6f8ff;
  font-family: 'Roboto', sans-serif;
}

.inputPhone{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  border-bottom: solid 1px #e6f8ff;
  width: 60%;
  
}
.inputPhoneDDD {
  text-align: center;
  
  width: 15%;
  outline: none;
  border: none;
  
  color: #e6f8ff;
  background-color: #272626;
  
  
}
.inputPhoneNumber {
  text-align: center;
  
  width: 60%;
  outline: none;
  border: none;
  
  color: #e6f8ff;
  background-color: #272626;
  
  

}

.formBtn{
  margin-top: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 60%;

  background-color: #e6f8ff;
  padding: 10px 10px;
  color: #214957;
  border-radius: 30px;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500; 
}


.formContainerUpdate {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
  background-color: rgba(0, 0, 0, .8);
}

.btnClose {
  justify-self: flex-start;
  align-self: flex-end;

  cursor: pointer;
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  color: #9ab8c3;
  background-color: #e6f8ff;
}

.formContainerUpdate form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  height: 65%;
  width: 30%;
  gap: 10px;
  background-color: #272626;
}

.formUpdateImg {
  width: 8rem;
  margin-bottom: 30px;
  border-radius: 50%;
}

.hideComponent {
  display: none;
}

.loading{
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 30%;
  height: 65%;
  
  background-color: rgba(0, 0, 0, .9);
}

.loading p {
  margin: 0;
  font-size: 1.6rem;
  color: #e6f8ff;
}

.rollDown{
  display: none;
}







@media (max-width: 700px) {
  .formContainer {
    position: absolute;
    top: -82vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;    
    background-color: #272626;
    gap: 10px;

    z-index: 1;
    transition: 1s;
  }
  .formContainerDown {
    position: absolute;
    top: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;    
    background-color: #272626;
    gap: 20px;

    z-index: 1;
    transition: 1s;
  }

  .dataContainerSpace{
  width: 100%;
  height: 20%;
}

.dataContainer ul{

  height: 80%;
}

  .form {
    height: 100%;
  }

  .userData {
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
    
    

    
    
    margin: 0;
    width: 100vw;
    height: auto;

    margin-bottom: 20px;
    
    
    
  }
  
.userdataRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}




  .avatar {
    float:left;
    width: 50px;
    border-radius: 50%;
    
  }

  .info {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    
    display: flex;   
    width: auto;
  }

  .info p {
    font-size: .9rem;
  }


 


  .dataButtons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 30%;
    
  }
  .rollDown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    cursor: pointer;
    background-color: #272626;
    border: none;
    outline: none;
    color: #e6f8ff;
  }

  .swipeIcon {
    transform: scale(2);
  }
  
}
